body {
  font-family: "Helvetica Neue", arial, freesans, clean, sans-serif;
}
.command {
  padding: 10px;
  background-color: darkgray;
}
.alert {
  color: #be0000;
  font-weight:bold;

}
.list {
  li {
    list-style-type: circle;
  }
  label {
    padding-right: 10px;
    font-weight: bold;
  }
}

#theme {
  width: 1200px;
  #logo {
    margin-left: 100px;
  }

  #layout {
    padding-left: 400px;
    width: 800px !important;

    img {
      border: 1px solid rgba(169, 169, 169, 0.40);
      margin: 0 20px 0 20px;
      max-width: 760px;
    }
  }
}

.code{
  background-color: lightgray;
  padding: 0 5px 0 5px;
}