.component-routes-side-nav {
  width: 400px;
  padding-left: 100px;
  position: fixed;
  top: 110px;
  i {
    width: 10px;
    display: inline-block;
  }
  ul ul {
    padding: 0 0 10px 15px;
  }
  li {
  }
}