<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/androidstudio.min.css">

    <%- head %>
</head>

<body>

<test-ui-harness class="non-ui-element"></test-ui-harness>
<server-message></server-message>
<ui-view id="container"></ui-view>
<%- body %>

</body>
</html>
