<div class="route route-ui.yo-scaffi.component">
    <section>
        <h1>yo scaffi:component</h1>
        <p>Call this when you want to make an angular component for use in your project.</p>
    </section>
    <section>
        <h2>Usage</h2>
        <p class="command">yo scaffi:component</p>
    </section>
    <section>
        <h2>In-depth Description</h2>
        <p>When a ui component is made, it creates it in the <mark>src/ui/app/components</mark> folder. This will give you an html and js controller. You can treat this as a app-wide stub page.</p>
        <p>Let's say we generate a component called 'code-example'. To use in a route's page or stub, we can do the following in the html template of that page/stub:</p>
        <code-example type="html" code="vm.getCodeSample1()"></code-example>
    </section>
</div>