<div class="component component-routes-side-nav">
    <div ng-if="vm.isDisplayable">
        <div ng-repeat="route in vm.routes" ng-if="route.isDisplayable">
            <h4><a ui-sref="{{route.sref}}">{{route.displayText}}</a></h4>
            <div class="route-children">
                <ul class="link-list">
                    <li ng-repeat="child in route.routes" ng-if="child.isDisplayable">
                        <div class="route-link"><i class="fa" ng-class="{'fa-caret-right': child.sref == vm.selectedRoute}"></i><a ui-sref="{{child.sref}}">{{child.displayText}}</a></div>
                        <div class="route-children">
                            <ul class="link-list">
                                <li ng-repeat="secondchild in child.routes" ng-if="secondchild.isDisplayable">
                                    <div class="route-link"><i class="fa" ng-class="{'fa-caret-right': secondchild.sref == vm.selectedRoute}"></i><a ui-sref="{{secondchild.sref}}">{{secondchild.displayText}}</a></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<ul class="link-list" ng-if="vm.isDisplayable">-->
        <!--<li ng-repeat="route in vm.routes" ng-if="route.isDisplayable">-->
            <!--<div class="route-link"><i class="fa" ng-class="{'fa-caret-right': route.sref == vm.selectedRoute}"></i><a ui-sref="{{route.sref}}">{{route.displayText}}</a></div>-->
            <!--<div class="route-children">-->
                <!--<ul class="link-list">-->
                    <!--<li ng-repeat="child in route.routes" ng-if="child.isDisplayable">-->
                        <!--<div class="route-link"><i class="fa" ng-class="{'fa-caret-right': child.sref == vm.selectedRoute}"></i><a ui-sref="{{child.sref}}">{{child.displayText}}</a></div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
</div>